/Blatt_05.pdf
/exercise_01_4.pdf
/Blatt_05.aux
/Blatt_05.tex
/exercise_01.tex
/exercise_01.pdf
/exercise_01.aux
/Blatt_06.pdf
/Blatt_06.aux
/Blatt_06.tex
/Blatt_07.aux
/Blatt_07.tex
/Blatt_07.pdf
/blatt8.aux
/blatt8.tex
/blatt8.pdf
/Blatt_09.aux
/Blatt_09.pdf
/Blatt_09.tex
/Weihnachtsblatt.aux
/Weihnachtsblatt.pdf
/Weihnachtsblatt.tex
/reindeerpopulation.pdf
